<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Greenfield Family</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TheGreenfieldFamily.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body class="m-0">
    <header class="page-item">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Resume">The Greenfield Family</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Resume">Nikolas</a>
                        </li>
                    </ul>
                </div>
                <partial name="Shared/ThemeToggler/_ThemeToggler" />
            </div>
        </nav>
    </header>
    <div class="pt-3"  style="
        background-image:
            repeating-linear-gradient(0deg, rgba(var(--bs-body-color-rgb), 0.1), rgba(var(--bs-body-color-rgb), 0.1) 1px, transparent 1px, transparent 30px),
            repeating-linear-gradient(90deg, rgba(var(--bs-body-color-rgb), 0.1), rgba(var(--bs-body-color-rgb), 0.1) 1px, transparent 1px, transparent 30px);
        background-size: 30px 30px;">
        <div class="container pb-5">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>