/* Bootstrap Small */
@media (min-width: 576px) {
    #title {
        width: fit-content !important;
    }

    #sub-title {
        font-size: 5rem !important;
        width: fit-content !important;
    }
}

#title {
    font-size: 5rem;
    width: 100%;
    font-weight: bold;
    font-family: 'Roboto', sans-serif
}

#sub-title {
    font-size: 3rem;
    width: 100%;
    font-weight: bold;
    font-family: 'Roboto', sans-serif
}

.page-item {
    background-color: var(--bs-body-bg);
    border: solid 1px var(--bs-border-color);
}

.page-header {
    border: solid 1px var(--bs-border-color);
    border-radius: 0 15px 15px 0;
    padding: 0rem 0.5rem;
    color: var(--bs-emphasis-color);
}

.section-header {
    border: solid 1px var(--bs-border-color);
    border-radius: 15px 15px 0 0;
    padding: 0rem 0.5rem;
    color: var(--bs-emphasis-color);
}

.experience-badge {
    background-color: var(--bs-secondary-bg);
    color: var(--bs-body-color);
    border: solid 1px var(--bs-border-color);
    border-radius: 15px;
    padding: 0rem 0.5rem;
}

.text-block {
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.carousel {
    display: flex;
    overflow-x: hidden;
}

.carousel:hover .carousel-group {
    animation-play-state: paused;
}

.carousel-group {
    gap: 2rem;
    padding-right: 2rem;
    will-change: transform;
    animation: scrolling 30s linear infinite;
}

.scroll-item {
    width: 20rem;
    height: 15rem;
}

.tech-badge {
    background-color: var(--bs-secondary-bg);
    color: var(--bs-body-color);
    border: solid 1px var(--bs-border-color);
    border-radius: 15px;
    padding: 0rem 0.5rem;
    margin: 0;
}
