@page
@model TheGreenfieldFamily.Pages.Resume.NikolasModel
@{
    ViewData["Title"] = "Nikolas";
}

<div class="">
    <div>
        <div class="d-flex flex-row gap-3">
            <h1 class="border px-3 display-5 fw-bold my-2">Hi, I'm Nik</h1>
            <div class="border px-3 d-flex flex-row align-items-center gap-2 my-2 align-self-end">
                <a href="https://www.linkedin.com/in/nikolas-greenfield/" target="_blank">
                    <i class="bi bi-linkedin fs-3"></i>
                </a>
                <a href="https://github.com/NikolasGreenfield/" target="_blank">
                    <i class="bi bi-github fs-3"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=100007738758589" target="_blank">
                    <i class="bi bi-facebook fs-3"></i>
                </a>
            </div>
        </div>

        <p class="border px-3">
            I am a software developer with hands-on experience in backend and full-stack roles, specializing in C#, .NET, and JavaScript.
            Demonstrated success optimizing application performance and reducing load times through advanced coding techniques, including
            multi-threading and test driven development. Proven track record in remote agile environments, contributing to high-quality,
            scalable, consumer-facing software solutions. Brings a strong understanding of relational databases, version control, and
            technical security fundamentals to deliver reliable user experiences.
        </p>
    </div>

    <hr class="m-0 mb-2" />

    <div class="d-flex flex-column gap-2">
        <h2 class="border px-3 align-self-start">My Experience</h2>

        <div class="border px-3 align-self-start w-75">
            <p>
                3SI Security | Software Developer [Secret Clearance] October 2023 – July 2025
            </p>
            <p>Designed and developed mission-critical software solutions using the .NET Framework, 
                WPF, C# (MVVM), and MS SQL Server within a federated, multi-service architecture. 
                Optimized application performance by implementing multi-threading paradigms, which 
                resulted in a greater than 60% reduction in video file creation times and a significant 
                decrease in overall application load times. Maintained high standards for code quality and 
                reliability through production-grade logging, robust version control with Git and Bitbucket, 
                and field debugging and custom-written database analysis tools. Additionally, led the 
                initiative to use unit testing and mocking and to create comprehensive project documentation 
                and development guides.</p>
            <form asp-page="/Resume">
                <button class="">Learn more about my time at 3SI</button>
            </form>
        </div>
        <div class="border px-3 align-self-end w-75">
            <p>
                Parsons Corporation | Software Engineering Internship May 2023 – September 2023
            </p>
            <p>
                Developed data visualization dashboards, SharePoint list storage solutions, and PDF generators 
                to provide creation, completion, and final storage of user applications utilizing Power Apps, 
                Power Automate, OneDrive, and SharePoint. Collaborated in daily stand-ups, client meetings, 
                sprint retrospectives, and planning meetings in a remote Agile/Scrum environment to ensure 
                high-quality software delivery. Utilized cooperative development tools such as Jira iteration boards, 
                Azure Dev-Ops, Slack communication, and Confluence documentation to ensure effective communication 
                and coordinated software development practices.
            </p>
            <form asp-page="/Resume">
                <button class="">Learn more about my time at Parsons</button>
            </form>
        </div>
        <div class="border px-3 align-self-start w-75">
            <p>
                This website!
            </p>
            <p>
                This website was built using ASP.NET Core with Razor Pages, Bootstrap, and custom CSS. I am hosting it locally,
                and I am using Cloudflare for DNS and CDN services. I built this site to showcase my skills and projects, as well as to provide
                my family with a centralized location for our history and family tree.
                The source code is available on <a href="https://github.com/NikolasGreenfield/the-greenfield-family" target="_blank">my GitHub</a>.
            </p>
            <form asp-page="/Resume">
                <button class="">See how I made this site!</button>
            </form>
        </div>
        <div class="align-self-end d-flex flex-row gap-3 w-75 justify-content-end">
            <img src="~/images/securityplus.png" width="100" height="100" />
            <p class="border px-3">
                CompTIA Security+ (SY0-701). Earned: June 2025
            </p>
        </div>
        <div class="border px-3 align-self-start w-75">
            <p>
                B.S. Computer Science, GPA: 3.66/4.0 Graduated: May 2023
            </p>
            <form asp-page="/Resume">
                <button class="">Learn more about my time at Virginia Tech</button>
            </form>
        </div>
    </div>
</div>
