@page
@using System.Text.Json
@model TheGreenfieldFamily.Pages.Resume.NikolasModel
@{
    ViewData["Title"] = "Nikolas";
}

<html data-bs-theme="dark">
<body>
    <div class="d-flex flex-column gap-1 my-3 mb-2">
        <div class="d-flex flex-column gap-2">
            <h1 class="page-item border px-2 m-0 p-0 align-self-start" style="font-size:4rem; font-weight:bold; font-family:'Roboto', sans-serif">
                Hi, I'm Nik
            </h1>
            <h1 class="page-item border px-2 m-0 p-0 align-self-start" style="font-size:4rem; font-weight:bold; font-family:'Roboto', sans-serif">
                I'm a Software Engineer
            </h1>
        </div>
        <div class="page-item border px-2 m-0 d-flex flex-row align-items-center gap-5 align-self-start">
            <div class="d-flex flex-row align-items-center gap-2">
                <a href="https://www.linkedin.com/in/nikolas-greenfield/" target="_blank">
                    <i class="bi bi-linkedin fs-3"></i>
                </a>
                <a href="https://github.com/NikolasGreenfield/" target="_blank">
                    <i class="bi bi-github fs-3"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=100007738758589" target="_blank">
                    <i class="bi bi-facebook fs-3"></i>
                </a>
            </div>
            <a class="d-flex flex-row align-items-center gap-1" href="https://www.google.com/maps/place/Pensacola+Beach,+FL/" target="_blank" style="text-decoration: none;">
                <i class="bi bi-geo-alt fs-3"></i>
                <p class="m-0 p-0"> Pensacola Beach, Florida</p>
            </a>
            <a class="d-flex flex-row align-items-center gap-2" href="mailto:NikolasGreenfield@gmail.com" target="_blank" style="text-decoration: none;">
                <i class="bi bi-envelope-plus fs-3"></i>
                <p class="m-0 p-0"> NikolasGreenfield@gmail.com</p>
            </a>
        </div>
    </div>

    <div class="d-flex flex-row flex-wrap gap-2 mb-4">
        <div class="page-item experience-bubble border d-flex flex-row align-items-center gap-1">
            <h3 class="m-0 p-0" style="font-size:3rem; font-weight:bold; font-family:'Roboto', sans-serif">
                3
            </h3>
            <p class="m-0 p-0">
                Years development experience
            </p>
        </div>
        <div class="page-item experience-bubble border d-flex flex-row align-items-center gap-1">
            <h3 class="m-0 p-0" style="font-size:3rem; font-weight:bold; font-family:'Roboto', sans-serif">
                2
            </h3>
            <p class="m-0 p-0">
                Years .Net experience
            </p>
        </div>
        <div class="page-item experience-bubble border d-flex flex-column justify-content-center">
            <p class="m-0 p-0">
                Secret Security Clearance
            </p>
            <small class="m-0 p-0">
                Inactive within 2 years
            </small>
        </div>
        <div class="page-item experience-bubble border d-flex flex-column justify-content-center">
            <p class="m-0 p-0">
                Bachelor of Science in Computer Science
            </p>
            <small class="m-0 p-0">
                Virginia Tech class of 2023
            </small>
        </div>
        <div class="page-item experience-bubble border d-flex flex-row align-items-center">
            <img src="~/images/securityplus.png" width="100" height="100" class="" />
            <div>
                <p class="m-0 p-0">
                    CompTIA Security+ Certified
                </p>
                <small class="m-0 p-0">
                    (SY0-701) Earned 06/25
                </small>
            </div>
        </div>
        <div class="page-item experience-bubble border d-flex flex-column justify-content-center">
            <h4 class="m-0 p-0" style="font-family:'Roboto', sans-serif">
                Remote Agile
            </h4>
            <p class="m-0 p-0">
                Work Experience
            </p>
        </div>
    </div>

    <hr class="mb-3" />

    <div class="d-flex flex-column gap-4">
        <!-- 3SI Section -->
        <div class="page-item border text-block">
            <h4>
                Software Developer [Secret Clearance] &commat; 3SI Security
            </h4>
            <h5 class="ml-2">
                October 2023 – July 2025
            </h5>
            <p>
                In this position, I began with no experience with C# and .Net, quickly applied and expanded my understanding of OOP and low level development, and become a critical member of the development team.
            </p>
            <div class="d-flex flex-row justify-content-between align-items-center" style="min-height: 15rem; max-height: 25rem; height: 30vh;">
                <div class="experience-bubble border w-25 p-2 d-flex flex-column align-items-center gap-1">
                    <h3 class="m-0 p-0 text-center" style="font-weight:bold; font-family:'Roboto', sans-serif">
                        No .Net Experience
                    </h3>
                    <p class="m-0 p-0 text-center">
                        before doing the take-home project for the interview.
                    </p>
                </div>
                <svg viewBox="0 0 100 100" style="width: 25%;">
                    <line x1="10"
                          y1="50"
                          x2="80"
                          y2="50"
                          style="stroke: black; stroke-width:6;" />
                    <polygon points="80,40 80,60 90,50" style="fill:black;stroke:black;" />
                </svg>

                <div class="h-100 w-50" style="position: relative;">
                    <div id="3si-scrolling-list" class="d-flex flex-column gap-2 h-100" style="overflow-y: scroll; scrollbar-width: none; scroll-snap-type: y mandatory;">
                        <div style="min-height: 33%;"></div>
                        <div class="p-2 d-flex flex-row align-items-center gap-1 scroll-item border">
                            <h2 class="m-0 p-0 text-center" style="font-weight:bold; font-family:'Roboto', sans-serif; min-width: 30%; max-width: 30%;">
                                60% reduction
                            </h2>
                            <p class="m-0 p-0">
                                in video export times leveraging multithreading and API features.
                            </p>
                        </div>
                        <div class="p-2 d-flex flex-row align-items-center gap-1 scroll-item border">
                            <h2 class="m-0 p-0 text-center" style="font-weight:bold; font-family:'Roboto', sans-serif; min-width: 30%; max-width: 30%;">
                                90% reduction
                            </h2>
                            <p class="m-0 p-0">
                                in application load times by expanding authentication and authorization to an in-house federated service.
                            </p>
                        </div>
                        <div class="p-2 d-flex flex-row align-items-center gap-1 scroll-item border">
                            <h2 class="m-0 p-0 text-center" style="font-weight:bold; font-family:'Roboto', sans-serif; min-width: 30%; max-width: 30%;">
                                2 years
                            </h2>
                            <p class="m-0 p-0">
                                of production issue investigation and custom field sql analysis and resolution tools.
                            </p>
                        </div>
                        <div class="p-2 d-flex flex-row align-items-center gap-1 scroll-item border">
                            <h2 class="m-0 p-0 text-center" style="font-weight:bold; font-family:'Roboto', sans-serif; min-width: 30%; max-width: 30%;">
                                Detected & Prevented
                            </h2>
                            <p class="m-0 p-0">
                                Multiple potential memory leaks using Visual Studio memory analysis tools and data rules.
                            </p>
                        </div>
                        <div class="p-2 d-flex flex-row align-items-center gap-1 scroll-item border">
                            <h2 class="m-0 p-0 text-center" style="font-weight:bold; font-family:'Roboto', sans-serif; min-width: 30%; max-width: 30%;">
                                Led my team
                            </h2>
                            <p class="m-0 p-0">
                                to create comprehensive project documentation to ensure functionality, expandability, and ease of onboarding.
                            </p>
                        </div>
                        <div style="min-height: 33%;"></div>
                    </div>
                    <div class="w-100 h-50" style="position:absolute; pointer-events: none; top: 0;
        background: linear-gradient(to bottom, var(--bs-body-bg), rgba(255, 255, 255, 0));"></div>
                    <div class="w-100 h-50" style="position:absolute; pointer-events: none; bottom: 0;
        background: linear-gradient(to top, var(--bs-body-bg), rgba(255, 255, 255, 0));"></div>
                </div>
            </div>
        </div>

        <!-- This website Section -->
        <div class="page-item d-flex flex-row gap-1">
            <div class="border" style="min-width:40vw; min-height: 40vh;">
                <iframe id="mini-site" style="position: absolute; overflow: hidden; width:100vw; height: 100vh; transform:scale(0.39); transform-origin:0 0;" src="/" scrolling="no"></iframe>
            </div>
            <div class="border text-block d-flex flex-column">
                <h4>
                    This website!
                </h4>
                <p>
                    I built this site to showcase my skills and projects, as well as to provide
                    my family with a centralized location for our history and family tree.
                    The source code is available on <a href="https://github.com/NikolasGreenfield/the-greenfield-family" target="_blank">my GitHub</a>.
                    This website was built using:
                </p>
                <ul>
                    <li>
                        ASP.NET Core
                    </li>
                    <li>
                        Razor Pages
                    </li>
                    <li>
                        Bootstrap
                    </li>
                    <li>
                        local hosting
                    </li>
                    <li>
                        Cloudflare for DNS and CDN services
                    </li>
                </ul>
                <form asp-page="/Resume">
                    <button class=""> See how I made this site! </button>
                </form>
            </div>
        </div>

        <!-- Parsons Section -->
        <div class="page-item border p-2 d-flex flex-row">
            <div class="border text-block w-75">
                <h4>
                    Software Engineering Internship &commat; Parsons Corporation
                </h4>
                <div class="ml-2">
                    <h5> May 2023 – September 2023 </h5>
                    <p>
                        I learned the Microsoft Cloud Power Platform and contributed to a Microsoft Cloud Application in a remote Agile development environment.
                        I Developed data visualization dashboards, SharePoint list storage solutions, and pdf generators to provide creation, completion, and
                        final storage of user applications.
                    </p>
                    <p> Technologies: Microsoft Power Apps, Power Automate, Power BI, and Sharepoint. </p>
                    <p> Tools: Jira iteration boards, Azure Dev-Ops, Slack communication, Confluence documentation.</p>
                </div>
            </div>
            <div class="d-flex flex-row w-25 justify-content-evenly">
                <div class="d-flex flex-column justify-content-evenly">
                    <img src="~/images/PowerPlatform_scalable.svg" width="100" height="100" />
                    <img src="~/images/PowerAutomate_scalable.svg" width="100" height="100" />
                </div>
                <div class="d-flex flex-column justify-content-evenly">
                    <img src="~/images/PowerApps_scalable.svg" width="100" height="100" />
                    <img src="~/images/PowerBI_scalable.svg" width="100" height="100" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <script>
        window.AppState = {
            sIScroll: 0,
            darkTheme: null,
        };
    </script>

    <!-- Ensure saving and updating state across the page and mini-pages. -->
    <script>
        const trustedOrigin = @Html.Raw(JsonSerializer.Serialize(Model.TrustedMessageOrigin));

        // Sends a message to the parent and child iframe when the scroll position or theme changes. To prevent looping in the notifications in both directions, 
        // we add an upward property to ensure the notifications are not sent in the same direction is was notified.
        function sendMessage(type, value, child, upward = true, downward = true){
            if (window.parent != window && upward){
                window.parent.postMessage({
                    type: type,
                    value: value,
                    upward: true
                }, trustedOrigin);
            }
            if (child != null && downward){
                child.postMessage({
                    type: type,
                    value: value,
                    upward: false
                }, trustedOrigin);
            }
        }

        // Theming is done on the layout level, so we notify it of changes for them to take affect
        function updateTheme(darkTheme){
            window.AppState.darkTheme = darkTheme;
            themeEvent = new CustomEvent("themeChangeByLogic", {
                detail: {
                    darkTheme: darkTheme
                }
            });
            document.dispatchEvent(themeEvent);
        }

        document.addEventListener('DOMContentLoaded', () =>{
            const iframe = document.getElementById('mini-site');
            const scrollingList = document.getElementById('3si-scrolling-list');

            // Update the page scroll of the child site directly on change because the mini site is not scrollable.
            let isUpdatingScroll = false;
            const miniSiteScrollRate = 1000 / 15;
            window.addEventListener('scroll', () => {
                if (iframe.contentWindow == null) return;

                if (!isUpdatingScroll){
                    isUpdatingScroll = true;
                    iframe.contentWindow.document.documentElement.scrollTop = window.scrollY;

                    setTimeout(() => isUpdatingScroll = false, miniSiteScrollRate);
                }
            });

            // Listen to changes in this window, sending messaegs to its parent and child window on change.
            scrollingList.addEventListener('scroll', (e) => {
                if (window.AppState.sIScroll === e.target.scrollTop) return;

                window.AppState.sIScroll = e.target.scrollTop;

                sendMessage("3SIScrollChange", e.target.scrollTop, iframe.contentWindow);
            });

            document.addEventListener('themeChangeByButton', (e) => {
                if (window.AppState.darkTheme === e.detail.darkTheme) return;

                window.AppState.darkTheme = e.detail.darkTheme;

                sendMessage("themeChange", e.detail.darkTheme, iframe.contentWindow);
            });


            // Listen to changes from parent and child(mini page) pages, and update this window.
            window.addEventListener('message', (e) => {
                if (e.origin !== trustedOrigin) return;

                switch (e.data.type){
                    case "3SIScrollChange":
                        window.AppState.sIScroll = e.data.value;

                        scrollingList.scrollTop = e.data.value;

                        sendMessage("3SIScrollChange", e.data.value, iframe.contentWindow, e.data.upward, !e.data.upward);
                        break;
                    case "themeChange":
                        updateTheme(e.data.value);
                        sendMessage("themeChange", e.data.value, iframe.contentWindow, e.data.upward, !e.data.upward);
                        break;

                }
            });
        });
    </script>

    <!-- Automatically scroll the topmost parent page's 3SI scroll box. -->
    <script>
        const scrollInvervalSeconds = 5;

        if (window.parent === window){
            document.addEventListener('DOMContentLoaded', () => {
                const scrollList = document.getElementById('3si-scrolling-list');
                const items = scrollList.querySelectorAll('.scroll-item');

                setInterval(()=>{
                    for(let i = 0; i < items.length; i++){
                        let item = items[i].getBoundingClientRect();
                        let scrollingBox = scrollList.getBoundingClientRect();
                        let distanceBetweenCenters = Math.abs((item.top + item.height / 2) - (scrollingBox.top + scrollingBox.height / 2));

                        if (distanceBetweenCenters < 10){
                            let nextI = (i + 1) % items.length;
                            let newScrollY = items[nextI].offsetTop - scrollList.offsetTop - items[nextI].clientHeight;
                            scrollList.scroll(
                                {
                                    top: newScrollY,
                                    behavior: 'smooth'
                                }
                            );
                            break;
                        }
                    }
                }, scrollInvervalSeconds * 1000);
            })
        }

    </script>
}