@page
@model TheGreenfieldFamily.Pages.Resume.NikolasModel
@{
    ViewData["Title"] = "Nikolas";
}

<div class="">
    <div class="d-flex flex-column gap-1 my-3">
        <div class="d-flex flex-column gap-2">
            <h1 class="border px-2 m-0 p-0 align-self-start" style="font-size:4rem; font-weight:bold; font-family:'Roboto', sans-serif">
                Hi, I'm Nik
            </h1>
            <h1 class="border px-2 m-0 p-0 align-self-start" style="font-size:4rem; font-weight:bold; font-family:'Roboto', sans-serif">
                I'm a Software Engineer
            </h1>
        </div>
        <div class="border px-2 m-0 d-flex flex-row align-items-center gap-5 align-self-start">
            <div class="d-flex flex-row align-items-center gap-2">
                <a href="https://www.linkedin.com/in/nikolas-greenfield/" target="_blank">
                    <i class="bi bi-linkedin fs-3"></i>
                </a>
                <a href="https://github.com/NikolasGreenfield/" target="_blank">
                    <i class="bi bi-github fs-3"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=100007738758589" target="_blank">
                    <i class="bi bi-facebook fs-3"></i>
                </a>
            </div>
            <div class="d-flex flex-row align-items-center">
                <i class="bi bi-geo-alt fs-3"></i>
                <p class="m-0 p-0"> Pensacola, Florida</p>
            </div>
            <p class="m-0 p-0">NikolasGreenfield@gmail.com</p>
        </div>
    </div>

    <div class="d-flex flex-row flex-wrap gap-3 mb-5">
        <div class="p-2 d-flex flex-row align-items-center gap-1" style="border:solid 1px black; border-radius:30px;">
            <h3 class="m-0 p-0" style="font-size:3rem; font-weight:bold; font-family:'Roboto', sans-serif">
                3
            </h3>
            <p class="m-0 p-0">
                Years development experience
            </p>
        </div>
        <div class="p-2 d-flex flex-row align-items-center gap-1" style="border:solid 1px black; border-radius:30px;">
            <h3 class="m-0 p-0" style="font-size:3rem; font-weight:bold; font-family:'Roboto', sans-serif">
                2
            </h3>
            <p class="m-0 p-0">
                Years .Net experience
            </p>
        </div>
        <div class="p-2 d-flex flex-column justify-content-center" style="border:solid 1px black; border-radius:30px;">
            <p class="m-0 p-0">
                Secret Security Clearance
            </p>
            <small class="m-0 p-0">
                Inactive within 2 years
            </small>
        </div>
        <div class="p-2 d-flex flex-column justify-content-center" style="border:solid 1px black; border-radius:30px;">
            <p class="m-0 p-0">
                Bachelor of Science in Computer Science
            </p>
            <small class="m-0 p-0">
                Virginia Tech class of 2023
            </small>
        </div>
        <div class="p-1 d-flex flex-row align-items-center" style="border:solid 1px black; border-radius:30px;">
            <div class="pr-1">
                <p class="m-0 p-0">
                    CompTIA Security+ Certified
                </p>
                <small class="m-0 p-0">
                    (SY0-701) Earned 06/25
                </small>
            </div>
            <img src="~/images/securityplus.png" width="100" height="100" />
        </div>
        <div class="p-2 d-flex flex-column justify-content-center" style="border:solid 1px black; border-radius:30px;">
            <h4 class="m-0 p-0 align-self-center" style="font-family:'Roboto', sans-serif">
                Remote
            </h4>
            <h4 class="m-0 p-0 align-self-center" style="font-family:'Roboto', sans-serif">
                Agile
            </h4>
            <p class="m-0 p-0">
                Work Experience
            </p>
        </div>
    </div>

    <hr class="mb-3" />

    <div class="d-flex flex-column gap-4">
        <h1 class="border px-3 align-self-start">
            My Experience
        </h1>

        <div class="d-flex flex-row">
            <div class="w-75 border px-3">
                <h4>
                    Software Developer [Secret Clearance] &commat; 3SI Security
                </h4>
                <div class="ml-2">
                    <h5> October 2023 – July 2025</h5>
                    <p>
                        In this position, I began with no experience with C# and .Net, quickly applied and expanded my understanding of OOP and low level development, and become a critical member of the development team.
                    </p>
                    <p> Technologies: .Net Framework, WPF, C#, MVVM, MS SQL, SSMS, Loupe Logging, Visual Studio</p>
                    <p> Achievements: </p>
                    <ul>
                        <li>
                            Leveraged Multithreading and API functionality to reduce video file exporting by over 60%
                        </li>
                        <li>
                            proposed and executed a plan to move our SQL queries in-house through a distributed service to decrease application loading times by 90%.
                        </li>
                        <li>
                            Investigated a production bug using our production logging, determined the vulnerability in our code, developed a custom field tool to evaluate and remidy a fault in our database structure.
                        </li>
                    </ul>
                    <form asp-page="/Resume">
                        <button class="">Learn more about my time at 3SI</button>
                    </form>
                </div>
            </div>
            <div class="w-25">
                This is where the icons will go.
            </div>
        </div>
        <div class="d-flex flex-row gap-1">
            <div class="border" style="width:40vw; height: 40vh;">
                <iframe id="mini-site" style="width:100vw; height: 100vh; transform:scale(0.39); transform-origin:0 0;" src="/" scrolling="no"></iframe>
            </div>
            <div class="border px-3 d-flex flex-column">
                <h4>
                    This website!
                </h4>
                <p>
                    I built this site to showcase my skills and projects, as well as to provide
                    my family with a centralized location for our history and family tree.
                    The source code is available on <a href="https://github.com/NikolasGreenfield/the-greenfield-family" target="_blank">my GitHub</a>.
                    This website was built using:
                </p>
                <ul>
                    <li>
                        ASP.NET Core
                    </li>
                    <li>
                        Razor Pages
                    </li>
                    <li>
                        Bootstrap
                    </li>
                    <li>
                        local hosting
                    </li>
                    <li>
                        Cloudflare for DNS and CDN services
                    </li>
                </ul>
                <form asp-page="/Resume">
                    <button class=""> See how I made this site! </button>
                </form>
            </div>
        </div>
        <div class="d-flex flex-row">
            <div class="border px-3 w-75">
                <h4>
                    Software Engineering Internship &commat; Parsons Corporation
                </h4>
                <div class="ml-2">
                    <h5> May 2023 – September 2023 </h5>
                    <p>
                        I learned the Microsoft Cloud Power Platform and contributed to a Microsoft Cloud Application in a remote Agile development environment.
                        I Developed data visualization dashboards, SharePoint list storage solutions, and pdf generators to provide creation, completion, and
                        final storage of user applications.
                    </p>
                    <p> Technologies: Microsoft Power Apps, Power Automate, Power BI, and Sharepoint. </p>
                    <p> Tools: Jira iteration boards, Azure Dev-Ops, Slack communication, Confluence documentation.</p>
                </div>
            </div>
            <div class="d-flex flex-row w-25 justify-content-evenly">
                <div class="d-flex flex-column justify-content-evenly">
                    <img src="~/images/PowerPlatform_scalable.svg" width="100" height="100" />
                    <img src="~/images/PowerAutomate_scalable.svg" width="100" height="100" />
                </div>
                <div class="d-flex flex-column justify-content-evenly">
                    <img src="~/images/PowerApps_scalable.svg" width="100" height="100" />
                    <img src="~/images/PowerBI_scalable.svg" width="100" height="100" />
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between">
            <div class="w-25">
                This is where my leetcode calender will go.
            </div>
            <div class="border px-3 w-75 d-flex flex-column align-items-end">
                <h4 class="text-end">Leetcode</h4>
                <p class="text-end">I keep my problem solving skills sharp by doing leetcode every day.</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        console.log("This is inline JS for the Index page.");
        document.addEventListener('DOMContentLoaded', () => {
            const iframe = document.getElementById('mini-site');

            iframe.addEventListener('load', () => {
                window.addEventListener('scroll', () => {
                    const parentScroll = window.scrollY || document.documentElement.scrollTop;
                    iframe.contentWindow.scrollTo(0, parentScroll);
                });
            });
        });
    </script>
}