@page
@model TheGreenfieldFamily.Pages.Resume.NikolasModel
@{
	ViewData["Title"] = "Nikolas";
}

<div class="text-center">
    <h1 class="display-4">Hi, I'm Nik</h1>
    <p>
        This is my resume
    </p>
</div>
