@media (min-width: 768px) {
    .w-md-250px {
        width: 250px !important;
    }
    .h-md-250px {
        height: 250px !important;
    }
}

.page-item {
    background-color: var(--bs-body-bg);
}

.page-header {
    border-radius: 0 15px 15px 0;
    padding: 0rem 0.5rem;
}

.section-header {
    border-radius: 15px 15px 0 0;
    padding: 0rem 0.5rem;
}

.experience-bubble {
    border-radius: 15px;
    padding: 0rem 0.5rem;
}

.text-block {
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
}

.scroll-item {
    min-height: 34%;
    max-height: 34%;
    border: solid 1px black;
    border-radius: 30px;
    scroll-snap-align: center;
}
