@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">The Greenfield Family Website</h1>
    <p>
        This page contains no information. Please go to the
        <a class="nav-link text-dark" asp-area="" asp-page="/Resume">Resume Page</a>
    </p>
</div>
